<th:block th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Script-Type" content="text/javascript"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=">
    <link rel="stylesheet" href="/static/css/style.css"/>
    <link rel="shortcut icon" href="/favicon.ico">
    <script src="/static/js/jquery-2.2.4.js"></script>
    <script src="/static/js/jquery-ui.js"></script>
    <script src="/static/js/comutils.js"></script>
    <script src="/static/js/fileApi.js"></script>
    <title>Default1</title>
    <!--[if lte IE 9]>
    <![endif]-->
</th:block>
