<th:block th:fragment="spinner" xmlns:th="http://www.w3.org/1999/html">
    <div id="spinLoading">
        <div id="dots1">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <script>
        const spin = {
            show() {
                document.querySelector("#spinLoading").css.display = "block";
            },
            hide() {
                document.querySelector("#spinLoading").css.display = "none";
            }
        }
    </script>
</th:block>