logging:
  level:
    jdbc:
      audit: OFF
      resultset: OFF
      resultsettable: OFF
      sqlonly: DEBUG
      sqltiming: OFF
      connection: OFF
    root: INFO
  pattern:
    console: '%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr([${LOG_LEVEL_PATTERN:%5p}]) %clr(%-36.36(%logger{0}.%method)){cyan} %4.4L %clr(:){faint} %m%n'
spring:
  config:
    import:
      - classpath:jwt.yml
      - classpath:cron.yml
  mvc:
    static-path-pattern: /static/**
    throw-exception-if-no-handler-found: true
  sql:
    init:
      platform: postgresql
  thymeleaf:
    cache: true
    prefix: classpath:/templates/
    suffix: .html
  profiles:
    default: local
web-client:
  domains:
    default:
      base-url: http://localhost:8080
      connect-timeout: 5000
      read-timeout: 10000
      write-timeout: 10000
      headers:
        Content-Type: application/json
        Accept: '*/*'
springdoc:
  swagger-ui:
    config-url: /v3/api-docs/swagger-config
    path: /swagger-ui.html
    url: ${springdoc.api-docs.path}
    disable-swagger-default-url: true
  api-docs:
    path: /v3/api-docs
user:
  swagger:
    id: toyriding
    pw: 1234
---
# local
server:
  port: 8085
spring:
  config:
    activate:
      on-profile: local
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        default_schema: postgres
        globally_quoted_identifiers: true
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    url: jdbc:log4jdbc:postgresql://localhost:5432/project1
    username: root
    password: 1234
    hikari:
      maximum-pool-size: 10
      connection-init-sql: CREATE SCHEMA IF NOT EXISTS postgres
  devtools:
    add-properties: true
    livereload:
      enabled: true
file:
  store:
    path: c:/tmp/default1
redis:
  host: localhost
  port: 6379
---
# dev
server:
  port: 8080
spring:
  config:
    activate:
      on-profile: dev
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        default_schema: postgres
        globally_quoted_identifiers: true
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    url: jdbc:log4jdbc:postgresql://localhost:5432/project1
    username: root
    password: 1234
    hikari:
      maximum-pool-size: 10
      connection-init-sql: CREATE SCHEMA IF NOT EXISTS postgres
  devtools:
    add-properties: false
    livereload:
      enabled: false
file:
  store:
    path: /web/file
logging:
  file:
    name: /web/jar/log/file.log
redis:
  host: localhost
  port: 6379
---
# prod
server:
  port: 8080
spring:
  config:
    activate:
      on-profile: prod
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        default_schema: postgres
        globally_quoted_identifiers: true
    show-sql: false
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    url: jdbc:log4jdbc:postgresql://localhost:5432/project1
    username: root
    password: 1234
    hikari:
      maximum-pool-size: 10
      connection-init-sql: CREATE SCHEMA IF NOT EXISTS postgres
  devtools:
    add-properties: false
    livereload:
      enabled: false
file:
  store:
    path: /web/file
logging:
  file:
    name: /web/jar/log/file.log
redis:
  host: localhost
  port: 6379