spring:
  config:
    import:
      - classpath:jwt.yml
      - classpath:cron.yml
  mvc:
    static-path-pattern: /static/**
    throw-exception-if-no-handler-found: true
  sql:
    init:
      platform: postgresql
  thymeleaf:
    cache: true
    prefix: classpath:/templates/
    suffix: .html
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true
    baseline-version: 2
  profiles:
    default: local
web-client:
  domains:
    default:
      base-url: http://localhost:8080
      connect-timeout: 5000
      read-timeout: 10000
      write-timeout: 10000
      headers:
        Content-Type: application/json
        Accept: '*/*'
springdoc:
  swagger-ui:
    config-url: /v3/api-docs/swagger-config
    path: /swagger-ui.html
    url: ${springdoc.api-docs.path}
    disable-swagger-default-url: true
  api-docs:
    path: /v3/api-docs
management:
  endpoint:
    health:
      show-details: always
      probes:
        enabled: true
  health:
    livenessState:
      enabled: true
    readinessState:
      enabled: true
  info:
    build:
      enabled: true
    env:
      enabled: true
info:
  app:
    name: basicarch
    description: basicarch
