server:
  port: 8085
spring:
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        globally_quoted_identifiers: true
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    url: jdbc:log4jdbc:postgresql://localhost:15432/postgres
    username: root
    password: 1234
    hikari:
      maximum-pool-size: 10
  devtools:
    add-properties: true
    livereload:
      enabled: true
file:
  store:
    path: c:/tmp/basic-arch
postgres:
  host: localhost
  port: 15432
redis:
  host: localhost
  port: 16379
prometheus:
  host: localhost
  port: 19090
grafana:
  host: localhost
  port: 13000
management:
  endpoints:
    web:
      exposure:
        include: "*"
springdoc:
  show-actuator: true
