server:
  port: 8080
spring:
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        format_sql: true
        globally_quoted_identifiers: true
    show-sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  datasource:
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    url: jdbc:log4jdbc:postgresql://localhost:5432/postgres
    username: root
    password: 1234
    hikari:
      maximum-pool-size: 10
  devtools:
    add-properties: false
    livereload:
      enabled: false
file:
  store:
    path: /web/file
postgres:
  host: localhost
  port: 5432
redis:
  host: localhost
  port: 6379
prometheus:
  host: localhost
  port: 9090
grafana:
  host: localhost
  port: 3000
management:
  endpoints:
    web:
      exposure:
        include: "health,info,metrics"
