logging:
  level:
    jdbc:
      audit: OFF
      resultset: OFF
      resultsettable: OFF
      sqlonly: DEBUG
      sqltiming: OFF
      connection: OFF
    root: INFO
  pattern:
    console: '%clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr([${LOG_LEVEL_PATTERN:%5p}]) %clr(%-36.36(%logger{0}.%method)){cyan} %4.4L %clr(:){faint} %m%n'
mybatis:
  mapper-locations: classpath*:mapper/**/*.xml
  config-location: classpath:config/mybatis-config.xml
  type-handlers-package: com.example.default1.base.mybatis.typeHandler
spring:
  datasource:
    driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    url: jdbc:log4jdbc:mysql://localhost:3306/test?serverTimezone=Asia/Seoul
    username: root
    password: 1234
    hikari:
      maximum-pool-size: 10
  devtools:
    add-properties: true
    livereload:
      enabled: true
  mvc:
    static-path-pattern: /static/**
    throw-exception-if-no-handler-found: true
  sql:
    init:
      platform: mysql
  thymeleaf:
    cache: true
    prefix: classpath:/templates/
    suffix: .html
  profiles:
    default: local
cron:
  cache:
    refresh-cache: '55 55 23 * * *'
jwt:
  secret: /kO7/CZDZArXhIZBBw8tuVoUQP3/gcIKDKOMlSI5xdE=
springdoc:
  swagger-ui:
    config-url: /v3/api-docs/swagger-config
    path: /swagger-ui.html
    url: ${springdoc.api-docs.path}
    disable-swagger-default-url: true
  api-docs:
    path: /v3/api-docs
user:
  swagger:
    id: toyriding
    pw: 1234
---
# local
server:
  port: 8085
spring:
  config:
    activate:
      on-profile: local
file:
  store:
    path: c:/tmp/default1
redis:
  host: localhost
  port: 6379
---
# dev
server:
  port: 8080
spring:
  config:
    activate:
      on-profile: dev
file:
  store:
    path: /web/file
logging:
  file:
    name: /web/jar/log/file.log
redis:
  host: localhost
  port: 6379
---
# prod
server:
  port: 8080
spring:
  config:
    activate:
      on-profile: prod
file:
  store:
    path: /web/file
logging:
  file:
    name: /web/jar/log/file.log
redis:
  host: localhost
  port: 6379